.main-box {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  margin: 20vh 0;
}

@media ((min-width: 375px) and (max-width:430px)) {
  .main-content {
    margin-top: 2rem;
  }
}
